.branding{
    height: 10vh;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #2b542e;
    text-align: center;
}
.bandeja{
    font-style: inherit;
    text-align: vertical;
}
.descripcion{
    height: 104vh;
}
.imagenprincipal{
    height: 70vh;
}
.fotos{
    height: 10vh;
}