body{
    font-family: poppins, sans-serif;
}
.bandeja{
    height: 5vh;
    width: 2rem; 
    height:2rem;
    font-style: inherit;
    text-align: vertical;
}
.carrusel{
    height: 90vh;
}
.alto{
    height: 49vh;
}
.cabecera{
    height: 15vh;
}
.grid{
    place-items: center;
}
.titulo{
    height: 10vh;
}
.proyectos{
    height: 10vh;
    background-color: #2b542e;
    text-align: center;
}
.descripcion{
    height: 20vh;
}
.espacioAbajo{
    margin-bottom: 100px;
}
.barra{
    height: 2vh;
    background-color: #8fbc8f;
}